{{!-- MAIN BODY CONTAINER --}}
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        {{!-- WELCOME MESSAGE --}}
        <h1>{{msg}}</h1>
        <h3>Social Media Monitoring</h3>
        {{!-- <form class="clearfix mb-4" action="POST"> --}}
        {{!-- SEARCH FORM --}}
        <div class="form-group">
          <label for="post">Keyword</label>
          <input placeholder="search" id="post" type="text" data-length="40">
        </div>
        <button id="submitButton" class="btn waves-effect waves-light black">Submit</button>
        {{!-- </form> --}}
        {{!-- TWEETS WILL GO HERE ONCE DATA IS PULLED --}}
        {{!-- THIS CAN BE MOVED TO ANOTHER PAGE OR JUST DROP DOWN FURTHER --}}
        {{!-- LET ME KNOW WHAT YOU GUYS THINK ABOUT WHERE TO PLACE THE DATA --}}
        <ul id="search-list" class="list-group">
          {{#each search}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="search/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
            {{ log this}}
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>